{% extends 'main/base.html' %}

{% block title %}Услуги по записи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Услуги по записи</h1>
        <p>Услуга — это вид деятельности и результат непосредственного взаимодействия
            исполнителя услуги и её потребителя, направленный на удовлетворение потребностей потребителя.
            В процессе оказания услуг не идёт речи о создании какого-то вещественно-материального продукта,
            но может быть изменено качество уже имеющегося.
            В экономической теории под услугами понимаются товары, которые могут производиться,
            передаваться и потребляться одновременно.</p>
    </div>
{% endblock %}